body {
  background: rgb(68, 67, 67);
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  margin: 0;
}

/* * {
  border: 1px solid rgb(255, 255, 255);
} */


.container {
  display: flex;
  /* align-content: center; */
  justify-content: space-between;
  min-height: 100vh;
  flex-direction: column;

}

.rowinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  min-height: 70vh;
}


.a {
  background-color: darkorange;
  min-height: 15vh;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  min-width: 90%;
}

.b {
  background-color: darkorchid;
  min-width: 100%;
  min-height: 30vh;
  margin-bottom: 1em;
}

.c, .d, .e {
  background-color: darkred;
  min-width: 32%;
}

.f {
  background-color: darkseagreen;
  min-height: 15vh;
  margin: auto;
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
}



@media (min-width: 1000px) { 
  .container { 
    flex-direction: row; 
    flex-wrap: wrap;
  } 

  .rowinfo {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 1em;
    margin-left: auto;
    width: 70%;
    min-height: 70vh;
  }

  .a {
    background-color: darkorange;
    min-height: 35vh;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    min-width: 90%;
  }

  .b {
    background-color: darkorchid;
    min-width: 98%;
    min-height: 35vh;
  }

  .c, .d, .e {
  background-color: darkred;
  min-width: 31%;
  margin-right: 2%;
}

  .f {
    background-color: darkseagreen;
    min-height: 70vh;
    margin: 0;
    margin-bottom: 1em;
    width: 20%;
    margin-right: auto;
  }
}